.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.productimage {
    max-width: 34rem;
    max-height: 34rem;
    width: 27rem;
    height: 30rem;
}

.productname {
    font-size: 2rem;
    text-align: center;
}

.productbrand {
    font-size: 1.2rem;
    color: #808080;
    text-align: center;
}

.productprice {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.productrating {
    margin-bottom: 1rem;
    text-align: center;
}